.hovered {
   opacity: 0.7;
   z-index: -1;
}
.curtain-thumbnail {
   color: #cc181e;
   display: flex;
   align-items: center;
   padding-left: 10px;
   padding-top: 5px;
   font-size: 18px;
   border: 1px solid white;
   z-index: -1;
}
.project-thumbnail {
   color: #0066aa;
   display: flex;
   align-items: center;
   padding-left: 10px;
   padding-top: 5px;
   font-size: 18px;
   border: 1px solid white;
   z-index: -1;
}
.curtain-thumbnail:hover {
   border: 1px solid #cc181e;
   cursor: pointer;
}
.project-thumbnail:hover {
   border: 1px solid #0066aa;
   text-shadow: 0.2  5px 0.25px black;
   cursor: pointer;
}
.curtain { z-index: 3; }
.curtain-down {
   box-shadow: -5px -5px 20px #999;
   padding: 0px;
   border: 1px solid #333; 
}

.tech_header {
   font-family: Courier;
   text-transform: uppercase;
   margin-bottom: 0px;
}
h3.section-title:hover { text-decoration: underline; }
.blankspace { margin-bottom: 0px; }
.thumbnail {
   display: inline;
   float: left;
}
.project_div { width: 390px; }
div#data-viz { float: left; }
div#analysis { float: right; }
section ul {
   margin-left: 0px;
   padding-left: 7px;
   padding-right: 7px;
   padding-bottom: 15px;
   border-bottom: 1px dotted #999;
}
header ul {
   width: 100%;
   margin-left: 0px; 
   padding-left: 0px; 
}

header li.links {
   width: 100%;
   margin-left: 15px; 
   list-style-type: circle;
}
header li.links:hover {
   color: #cc181e;
}

h3.data-viz a {
   color: #57945a;
}

a li.author {
   list-style: none;
   margin-left: 7.5px;
   color: #0066aa;
}
li.author:hover {
   color: #cc181e;
}
h4.author {
   color: rgb(37, 61, 81);
   font-weight: normal;
   margin-bottom: 2px;
}
h4.author span {
   font-style: italic;
}
