.tech_header {
   font-family: Courier;
   text-transform: uppercase;
}
.thumbnail {
   display: inline;
   float: left;
}

.project_div { width: 390px; }
div#data-viz { float: left; }
div#analysis { float: right; }

/*
header h4 {
   font-family: Courier;
   font-weight: normal;
   text-transform: uppercase;
   font-size: 12.5px;
   color: #666;
}
*/

section ul {
   margin-left: 0px;
   padding-left: 7px;
   padding-right: 7px;
   padding-bottom: 15px;
   border-bottom: 1px dotted #999;
}
section ul:hover {
   background-color: #f9f9f9;
}

header ul {
   width: 100%;
   margin-left: 0px; 
   padding-left: 0px; 
}

header li.links {
   width: 100%;
   margin-left: 15px; 
   list-style-type: circle;
   /* color: rgb(37, 61, 81); */
}
header li.links:hover {
   color: #cc181e;
}

h3.data-viz a {
   color: #57945a;
}

a li.author {
   list-style: none;
   margin-left: 7.5px;
   color: #0066aa;
}
li.author:hover {
   color: #cc181e;
}
h4.author {
   color: rgb(37, 61, 81);
   font-weight: normal;
   margin-bottom: 2px;
}
h4.author span {
   font-style: italic;
}
